<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">

<log4j:configuration>

  <!-- For console log -->
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
             value="%d{yyyyMMddHHmmss} %-5p%c{2}: %m%n" />
    </layout>
  </appender>

  <appender name="SEARCH_RUN_LOG" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/data0/bigdata/22find/search/search.run.log" />
    <param name="Append" value="true" />
    <param name="Threshold" value="info" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyyMMddHHmmss} %-5p%c{2}: %m%n" />
    </layout>
  </appender>

  <appender name="SEARCH_IGNORE_LOG" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/data0/bigdata/22find/search/search.ignore.log" />
    <param name="Append" value="true" />
    <param name="Threshold" value="info" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
  </appender>

    <appender name="AD_RUN_LOG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/data0/bigdata/all/ad/run.log" />
        <param name="Append" value="true" />
        <param name="Threshold" value="info" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyyMMddHHmmss} %-5p%c{2}: %m%n" />
        </layout>
    </appender>

    <appender name="AD_IGNORE_LOG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/data0/bigdata/all/ad/ignore.log" />
        <param name="Append" value="true" />
        <param name="Threshold" value="info" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>

    <appender name="PC_RUN_LOG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/data0/bigdata/all/pc/run.log" />
        <param name="Append" value="true" />
        <param name="Threshold" value="info" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyyMMddHHmmss} %-5p%c{2}: %m%n" />
        </layout>
    </appender>

    <appender name="PC_IGNORE_LOG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/data0/bigdata/all/pc/ignore.log" />
        <param name="Append" value="true" />
        <param name="Threshold" value="info" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>

    <appender name="YAC_RUN_LOG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/data0/bigdata/all/yac/run.log" />
        <param name="Append" value="true" />
        <param name="Threshold" value="info" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyyMMddHHmmss} %-5p%c{2}: %m%n" />
        </layout>
    </appender>

    <appender name="YAC_IGNORE_LOG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/data0/bigdata/all/yac/ignore.log" />
        <param name="Append" value="true" />
        <param name="Threshold" value="info" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>
    <appender name="GM_RUN_LOG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/data0/bigdata/all/gm/run.log" />
        <param name="Append" value="true" />
        <param name="Threshold" value="info" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyyMMddHHmmss} %-5p%c{2}: %m%n" />
        </layout>
    </appender>

    <appender name="GM_IGNORE_LOG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/data0/bigdata/all/gm/ignore.log" />
        <param name="Append" value="true" />
        <param name="Threshold" value="info" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>

    <appender name="GM_LK" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/data0/bigdata/all/gm/lk.log" />
        <param name="Append" value="true" />
        <param name="Threshold" value="info" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>

  <logger name="search">
    <level value="debug" />
    <appender-ref ref="SEARCH_RUN_LOG" />
  </logger>
  <logger name="search_ignore">
    <level value="info" />
    <appender-ref ref="SEARCH_IGNORE_LOG" />
  </logger>

  <logger name="ad">
     <level value="debug" />
     <appender-ref ref="AD_RUN_LOG" />
  </logger>
  <logger name="ad_ignore">
    <level value="info" />
    <appender-ref ref="AD_IGNORE_LOG" />
  </logger>

  <logger name="pc">
    <level value="debug" />
    <appender-ref ref="PC_RUN_LOG" />
  </logger>
  <logger name="pc_ignore">
    <level value="info" />
    <appender-ref ref="PC_IGNORE_LOG" />
  </logger>

    <logger name="yac">
        <level value="debug" />
        <appender-ref ref="YAC_RUN_LOG" />
    </logger>
    <logger name="yac_ignore">
        <level value="info" />
        <appender-ref ref="YAC_IGNORE_LOG" />
    </logger>
    <logger name="gm">
        <level value="debug" />
        <appender-ref ref="GM_RUN_LOG" />
    </logger>
    <logger name="gm_ignore">
        <level value="info" />
        <appender-ref ref="GM_IGNORE_LOG" />
    </logger>
    <logger name="gm_lk">
        <level value="info" />
        <appender-ref ref="GM_LK" />
    </logger>
  <root>
    <level value="info" />
    <appender-ref ref="CONSOLE" />
  </root>

</log4j:configuration>
