<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">

<log4j:configuration>

  <!-- For console log -->
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
             value="%d{yyyyMMddHHmmss} %-5p%c{2}: %m%n" />
    </layout>
  </appender>

  <appender name="ERR_WRONG_UID"
            class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/data/bigdata/22find/runlog/nav.wronguid.log" />
    <param name="Append" value="true" />
    <param name="Threshold" value="info" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
  </appender>
  <appender name="ERR_WRONG_TITLE"
            class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/data/bigdata/22find/runlog/nav.wronguid.log" />
    <param name="Append" value="true" />
    <param name="Threshold" value="info" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
  </appender>
  <appender name="ERR_WRONG_URL"
            class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/data/bigdata/22find/runlog/nav.wronguid.log" />
    <param name="Append" value="true" />
    <param name="Threshold" value="info" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
  </appender>

  <appender name="RUN_LOG"
            class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/data/bigdata/22find/runlog/nav.run.log" />
    <param name="Append" value="true" />
    <param name="Threshold" value="info" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyyMMddHHmmss} %-5p%c{2}: %m%n" />
    </layout>
  </appender>

  <logger name="com.elex.bigdata.logging.WrongUIDLogger">
    <level value="info" />
    <appender-ref ref="ERR_WRONG_UID" />
  </logger>
  <logger name="com.elex.bigdata.logging.WrongTitleLogger">
    <level value="info" />
    <appender-ref ref="ERR_WRONG_TITLE" />
  </logger>
  <logger name="com.elex.bigdata.logging.WrongURLLogger">
    <level value="info" />
    <appender-ref ref="ERR_WRONG_URL" />
  </logger>
  <logger name="com.elex.bigdata.zergling.etl">
    <level value="info" />
    <appender-ref ref="RUN_LOG" />
  </logger>

  <root>
    <priority value="info" />
    <appender-ref ref="CONSOLE" />
  </root>

</log4j:configuration>
